{{ ansible_managed | comment }}

dir = {{ login_defs_faillock_database_dir }}

{% if login_defs_pam_faillock_audit %}
audit
{% endif %}

{% if login_defs_pam_faillock_silent %}
silent
{% endif %}

{% if login_defs_pam_faillock_no_log_info %}
no_log_info
{% endif %}

{% if login_defs_pam_faillock_local_users_only %}
local_users_only
{% endif %}

deny = {{ login_defs_pam_faillock_deny }}

fail_interval = {{ login_defs_pam_faillock_fail_interval }}

unlock_time = {{ login_defs_pam_faillock_unlock_time }}

{% if login_defs_pam_faillock_even_deny_root %}
even_deny_root

root_unlock_time = {{ login_defs_pam_faillock_root_unlock_time }}
{% endif %}
