{{ ansible_managed | comment }}

PASS_MAX_DAYS {{ pass_max_days }}
PASS_MIN_DAYS {{ pass_min_days }}
PASS_MIN_LEN  {{ pass_min_len }}
PASS_WARN_AGE {{ pass_warn_age }}
PASS_ALWAYS_WARN {{ pass_always_warn }}
PASS_CHANGE_TRIES {{ pass_change_tries }}
